:root {
    --header-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --btn-color: #FFFFFF;
    }

body {
    font-family: "Roboto", "sans-serif";
    color: var(--header-color);
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
}


/* Header*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    background-color: var(--btn-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.nav-list {
    display: flex;
    margin-left: auto;
}
.logo {
    font-family: "Raleway", "sans-serif";
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
}
.logo-dark-text {
    color: #000000;
}

.nav-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.current {
    color: var(--accent-color);
    position: relative;
}
.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -34px;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.nav-contact {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-color);
display: flex;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-connect:not(:last-child) {
    margin-right: 30px;
}

.nav-contact:hover,
.nav-contact:focus {
    color: var(--accent-color);
}
.nav-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* Section Name */
.name {
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
        max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
.name-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--btn-color);
margin-bottom: 30px;
max-width: 696px;
display: flex;
}
.name-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--btn-color);
background-color: var(--accent-color);
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: transparent;
min-width: 200px;
min-height: 50px;
padding: 10px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-btn:hover,
.name-btn:focus {
   background-color: #188CE8;
}

/* Section principles */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.principles-icon-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.principles-icon-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.principles-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.principles-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}
.principles-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
margin-bottom: 10px;
}
.principles-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* Section about */
.about {
    padding-top: 0;
}
.about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.about-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
}
.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.about-text-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--btn-color);
}
.about-title {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 50px;
}

/* Team */
.team {
    background-color: #F5F4FA;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.team-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    background-color: var(--btn-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 50px;
}
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 10px;
}
.team-heading {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-position { 
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
margin-bottom: 16px;
}
.team-social-list {
    display: flex;
    justify-content: center;
}
.team-social-item + .team-social-item {
margin-left: 10px;
}
.team-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
    fill: currentColor
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
    color: var(--btn-color);
}

/* Clients */
.clients-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 50px;
}
.clients-list {
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.clients-item {
    width: calc(100% / 6 - 30px);
    margin-left: 30px;
    height: 92px;
}
.clients-icon {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon:hover,
.clients-icon:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* Footer */
.footer {
background-color: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}
.footer-general {
    display: flex;
    align-items: baseline;
}
.footer-left {
    flex-grow: 1;
    margin-right: 70px;
}
.logo-footer {
    font-family: "Raleway", "sans-serif";
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-light-text {
    color: var(--btn-color);
}
.address {
font-style: normal;
margin-top: 20px;
}
.adress-list:not(:last-child) {
    margin-bottom: 9px;
}
.adress-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--btn-color);
}
.adress-contact {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-right-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--btn-color);
margin-bottom: 20px;
}
.footer-right-list {
    display: flex;
    align-items: center;
}
.footer-right-item + .footer-right-item {
margin-left: 10px;
}
.footer-right-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--btn-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-right-icon {
    fill: currentColor;
}
.footer-right-link:hover,
.footer-right-link:focus {
    background-color: var(--accent-color);
    color: var(--btn-color);
}

.footer-send {
    margin-left: 93px;
    display: block;
}
.footer-wrap {
    display: flex;
}
.footer-input {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
    outline: none;
}
.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-btn-submit {
width: 200px;
height: 50px;
background-color: var(--accent-color);
border: transparent;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
outline: none;
}
.icon-send {
    margin-left: 10px;
}
/* Portfolio */
.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center
}
.filter-item:not(:last-child) {
    margin-right: 8px;
    
}
.filter-btn {
font-family: inherit;
font-weight: 500;
font-size: 36px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
background-color: #F5F4FA;
cursor: pointer;
border-radius: 4px;
border: none;
padding: 6px 22px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
background-color: var(--accent-color);
color: var(--btn-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    }
.projects-box {
    width: calc(100% / 3 - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}
.projects-box:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.projects-box-content {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-box-content:hover,
.projects-box-content:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.projects-image-wrap {
    position: relative;
    overflow: hidden;
}
.projects-image-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--btn-color);
    padding: 63px 24px;
    transform: translateY(100%);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-box-content:hover .projects-image-text,
.projects-box-content:focus .projects-image-text {
    transform: translateY(0);
}
.projects-item {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.projects-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.projects-text {  
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--header-color);
margin-top: 4px;
}

/*Backdrop*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--btn-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    
}
.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--btn-color);
    border:  1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.modal-close:hover,
.modal-close:focus {
    fill: var(--accent-color);
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--header-color);
    margin-bottom: 4px;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;
    outline: none;
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
    fill: var(--accent-color);
}
.form-input:focus {
border-color: var(--accent-color);
}
.form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 12px;
    margin-top: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
    border-color: var(--accent-color);
}
.form-textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.checkbox-icon {
    position: relative;
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    margin-right: 8.38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.checkbox-icon-svg {
    position: absolute;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 2px;
}
.checkbox-checked:checked + .checkbox-label .checkbox-icon {
    background-color: var(--accent-color);
    border: none;
}
.checkbox-checked:checked + .checkbox-label .checkbox-icon-svg {
    fill: var(--btn-color);
}
.btn-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover,
.btn-submit:focus {
   background-color: #188CE8;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}