.about-box {
    padding-top: 0;
}
.about-box__title {
    text-align: center;
    @include font($fs: 36px, $fw: 700, $lh: 1.17, $ls: 0.03em);
    color: var(--title-color);
    margin-bottom: 50px;
}
.about__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.about__item {
    position: relative;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}
.about__text {
    position: absolute;
    @include align-list;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.about__title {
    text-transform: uppercase;
    @include font($fw: 700);
    color: var(--btn-color);
}

